@charset "UTF-8";
/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* MEDIA QUERIES
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
img.full-width {
  width: 100% !important;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 1.5rem padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
body {
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background-color: #fff;
}

html {
  font-size: 62.5%;
}

.ft-serif {
  font-family: Arial, serif;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #333333;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

u {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.container {
  overflow: hidden;
}

.wrapper {
  width: 1100px;
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-large {
  width: 83.2rem;
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-small {
  width: 37.2rem;
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 769px) {
  .trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }
}
@media print, (min-width: 673px) {
  .tel-pointer {
    display: inline-block;
    pointer-events: none;
  }

  .sm {
    display: none !important;
  }
}
@media only screen and (max-width: 672px) {
  .md {
    display: none !important;
  }

  .container {
    width: auto;
    min-width: 32rem;
  }

  .wrapper {
    width: auto;
  }
  .wrapper.sm-padding-none {
    padding-left: 0;
    padding-right: 0;
  }
}
/* PARTS
 * ----------------------------------------------- */
.logo {
  display: inline-block;
  line-height: 1;
}

header {
  position: relative;
  z-index: 980;
  padding: 0.8rem 0;
  background-color: #fff;
}

.header-fixed {
  width: 100%;
  position: fixed;
  z-index: 980;
  left: 0;
  top: 0;
}
.header-row {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

@media print, (min-width: 673px) {
  header {
    height: 7rem;
  }

  .header-fixed + main {
    margin-top: 7rem;
  }
  .header-row {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 672px) {
  header {
    height: 6rem;
  }

  .logo {
    width: 13rem;
  }

  .header-fixed {
    min-width: 100%;
  }
  .header-fixed + main {
    margin-top: 6rem;
  }
}
/* COMMON FOOTER
 * ----------------------------------------------- */
.navbar-wrapper {
  z-index: 10;
}
.navbar-toggler {
  cursor: pointer;
  display: block;
  background: #fff;
  padding: 0;
  white-space: nowrap;
  text-align: center;
}
.navbar-toggler .open {
  display: block;
}
.navbar-toggler .close {
  display: none;
}
.navbar-toggler.is-active .open {
  display: none;
}
.navbar-toggler.is-active .close {
  display: block;
}
.navbar-toggler .toggler-btn {
  position: relative;
  display: inline-block;
  width: 3.4rem;
  height: 2.4rem;
}
.navbar-toggler .toggler-btn span {
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  background-color: #636363;
}
.navbar-toggler .toggler-btn span:nth-child(1) {
  -moz-animation: menu-bar01 0.75s forwards;
  -webkit-animation: menu-bar01 0.75s forwards;
  animation: menu-bar01 0.75s forwards;
  top: 0;
}
.navbar-toggler .toggler-btn span:nth-child(2) {
  top: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 0.25s 0.25s;
  -o-transition: all 0.25s 0.25s;
  -webkit-transition: all 0.25s;
  -webkit-transition-delay: 0.25s;
  transition: all 0.25s 0.25s;
}
.navbar-toggler .toggler-btn span:nth-child(3) {
  bottom: 0;
  -moz-animation: menu-bar02 0.75s forwards;
  -webkit-animation: menu-bar02 0.75s forwards;
  animation: menu-bar02 0.75s forwards;
}
.navbar-toggler .toggler-btn.is-active span:nth-of-type(1) {
  -moz-animation: active-menu-bar01 0.75s forwards;
  -webkit-animation: active-menu-bar01 0.75s forwards;
  animation: active-menu-bar01 0.75s forwards;
}
.navbar-toggler .toggler-btn.is-active span:nth-of-type(2) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.navbar-toggler .toggler-btn.is-active span:nth-of-type(3) {
  -moz-animation: active-menu-bar03 0.75s forwards;
  -webkit-animation: active-menu-bar03 0.75s forwards;
  animation: active-menu-bar03 0.75s forwards;
}
.navbar-collapse {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
}
.navbar-collapse.is-active .navbar-content {
  overflow: auto;
}
.navbar-content {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: #fff;
  margin-left: auto;
}
.navbar-content .head {
  background-color: #d1d1d1;
}
.navbar-content .btn-close-nav {
  display: inline-block;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../img/common/bg_btn_01.png");
}
.navbar-content .btn-close-nav .icon {
  display: inline-block;
  position: relative;
}
.navbar-content .btn-close-nav .icon:before {
  position: relative;
  top: -0.1em;
  display: inline-block;
  content: "";
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/common/icon_close.png");
}
.navbar-content .search-wrapper, .navbar-content .nav-list {
  margin-left: auto;
  margin-right: auto;
}

.nav-widget .note {
  text-align: center;
}
.nav-item {
  position: relative;
}
.nav-item .flex {
  display: -webkit-flex;
  display: flex;
  padding-right: 2rem;
}
.nav-item .flex .nav-link {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.nav-item .nav-dropdown-icon {
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/common/icon_arrow.png");
}
.nav-item .nav-dropdown-icon.is-active {
  transform: rotate(90deg);
}
.nav-link {
  position: relative;
  display: block;
  color: currentColor;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.26s ease;
  -o-transition: opacity 0.26s ease;
  -webkit-transition: opacity 0.26s ease;
  transition: opacity 0.26s ease;
}
.nav-link.is-active, .nav-link.is-current {
  background-color: #000;
}
.nav-link:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.nav-link .label {
  display: inline-block;
  background-color: #ffc000;
  text-align: center;
  vertical-align: middle;
}
.nav-link .text {
  padding-left: 2rem;
}
.nav-dropdown {
  display: none;
}
.nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 2;
  margin-bottom: 2rem;
}
.nav-list li {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 2.5rem;
}
.nav-list li:before {
  content: "▶";
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.2em;
  line-height: 1;
}

@media print, (min-width: 673px) {
  .navbar-toggler {
    position: relative;
    top: 0.7rem;
    width: 5.6rem;
  }
  .navbar-collapse {
    height: calc(100% - 7rem);
    top: 7rem;
    font-size: 2rem;
  }
  .navbar-content .head {
    padding: 1rem 0;
  }
  .navbar-content .btn-close-nav {
    font-size: 2.4rem;
    padding: 1.2rem 4.5rem 0.8rem;
  }

  .nav-widget {
    margin-bottom: 2.4rem;
    padding: 0 2.4rem;
  }
  .nav-widget .note {
    font-size: 1.8rem;
  }
  .nav-main {
    padding: 0.3rem 0;
  }
  .nav-link {
    font-size: 2.4rem;
  }
  .nav-link .label {
    width: 5.6rem;
    height: 5.6rem;
    font-size: 1.2rem;
    line-height: 5.6rem;
  }
  .nav-item {
    padding: 0.8rem 0;
    border-bottom: 0.2rem solid #dfdfbd;
  }
  .nav-item .nav-dropdown-icon {
    width: 5.5rem;
    height: 5.5rem;
  }
  .nav-dropdown .dropdown-list {
    padding-left: 10rem;
    line-height: 2;
  }
  .nav-dropdown .dropdown-item {
    font-size: 2rem;
  }
  .nav-list {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 672px) {
  .navbar-toggler .toggler-text {
    font-size: 1rem;
  }
  .navbar-collapse {
    height: calc(100% - 6rem);
    top: 6rem;
    font-size: 1.4rem;
  }
  .navbar-content .head {
    padding: 1rem 0;
  }
  .navbar-content .btn-close-nav {
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
  }
  .navbar-content .form-search {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-content .nav-list {
    width: 30rem;
    max-width: 100%;
  }

  .nav-widget {
    margin-bottom: 1.6rem;
    padding: 0;
  }
  .nav-widget .note {
    font-size: 1.5rem;
  }
  .nav-main {
    padding: 0.3rem 0;
  }
  .nav-link {
    font-size: 1.6rem;
  }
  .nav-link .label {
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
    line-height: 4rem;
  }
  .nav-item {
    padding: 0.8rem 0;
    border-bottom: 0.2rem solid #dfdfbd;
  }
  .nav-item .nav-dropdown-icon {
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 0.2rem;
  }
  .nav-dropdown .dropdown-list {
    padding-left: 8rem;
    line-height: 2;
  }
  .nav-dropdown .dropdown-item {
    font-size: 1.4rem;
  }
  .nav-list {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 320px) {
  .nav-widget .note {
    letter-spacing: -0.1em;
  }
}
@-webkit-keyframes menu-bar01 {
  0% {
    -moz-transform: translateY(1.1rem) rotate(45deg);
    -ms-transform: translateY(1.1rem) rotate(45deg);
    -webkit-transform: translateY(1.1rem) rotate(45deg);
    transform: translateY(1.1rem) rotate(45deg);
  }
  50% {
    -moz-transform: translateY(1.1rem) rotate(0);
    -ms-transform: translateY(1.1rem) rotate(0);
    -webkit-transform: translateY(1.1rem) rotate(0);
    transform: translateY(1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    -moz-transform: translateY(1.1rem) rotate(45deg);
    -ms-transform: translateY(1.1rem) rotate(45deg);
    -webkit-transform: translateY(1.1rem) rotate(45deg);
    transform: translateY(1.1rem) rotate(45deg);
  }
  50% {
    -moz-transform: translateY(1.1rem) rotate(0);
    -ms-transform: translateY(1.1rem) rotate(0);
    -webkit-transform: translateY(1.1rem) rotate(0);
    transform: translateY(1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes menu-bar02 {
  0% {
    -moz-transform: translateY(-1.1rem) rotate(-45deg);
    -ms-transform: translateY(-1.1rem) rotate(-45deg);
    -webkit-transform: translateY(-1.1rem) rotate(-45deg);
    transform: translateY(-1.1rem) rotate(-45deg);
  }
  50% {
    -moz-transform: translateY(-1.1rem) rotate(0);
    -ms-transform: translateY(-1.1rem) rotate(0);
    -webkit-transform: translateY(-1.1rem) rotate(0);
    transform: translateY(-1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    -moz-transform: translateY(-1.1rem) rotate(-45deg);
    -ms-transform: translateY(-1.1rem) rotate(-45deg);
    -webkit-transform: translateY(-1.1rem) rotate(-45deg);
    transform: translateY(-1.1rem) rotate(-45deg);
  }
  50% {
    -moz-transform: translateY(-1.1rem) rotate(0);
    -ms-transform: translateY(-1.1rem) rotate(0);
    -webkit-transform: translateY(-1.1rem) rotate(0);
    transform: translateY(-1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes active-menu-bar01 {
  0% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -moz-transform: translateY(1.1rem) rotate(0);
    -ms-transform: translateY(1.1rem) rotate(0);
    -webkit-transform: translateY(1.1rem) rotate(0);
    transform: translateY(1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(1.1rem) rotate(45deg);
    -ms-transform: translateY(1.1rem) rotate(45deg);
    -webkit-transform: translateY(1.1rem) rotate(45deg);
    transform: translateY(1.1rem) rotate(45deg);
  }
}
@keyframes active-menu-bar01 {
  0% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -moz-transform: translateY(1.1rem) rotate(0);
    -ms-transform: translateY(1.1rem) rotate(0);
    -webkit-transform: translateY(1.1rem) rotate(0);
    transform: translateY(1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(1.1rem) rotate(45deg);
    -ms-transform: translateY(1.1rem) rotate(45deg);
    -webkit-transform: translateY(1.1rem) rotate(45deg);
    transform: translateY(1.1rem) rotate(45deg);
  }
}
@-webkit-keyframes active-menu-bar03 {
  0% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -moz-transform: translateY(-1.1rem) rotate(0);
    -ms-transform: translateY(-1.1rem) rotate(0);
    -webkit-transform: translateY(-1.1rem) rotate(0);
    transform: translateY(-1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(-1.1rem) rotate(-45deg);
    -ms-transform: translateY(-1.1rem) rotate(-45deg);
    -webkit-transform: translateY(-1.1rem) rotate(-45deg);
    transform: translateY(-1.1rem) rotate(-45deg);
  }
}
@keyframes active-menu-bar03 {
  0% {
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -moz-transform: translateY(-1.1rem) rotate(0);
    -ms-transform: translateY(-1.1rem) rotate(0);
    -webkit-transform: translateY(-1.1rem) rotate(0);
    transform: translateY(-1.1rem) rotate(0);
  }
  100% {
    -moz-transform: translateY(-1.1rem) rotate(-45deg);
    -ms-transform: translateY(-1.1rem) rotate(-45deg);
    -webkit-transform: translateY(-1.1rem) rotate(-45deg);
    transform: translateY(-1.1rem) rotate(-45deg);
  }
}
/* PAGES
 * ----------------------------------------------- */
/* SECTION SAMPLE 01
 * ----------------------------------------------- */
.top-keyvisual .slick-slide {
  line-height: 0;
}
.top-keyvisual .slick-slide > * {
  line-height: 0;
}

.section-top-news .wrapper {
  width: 65.2rem;
}
.section-top-news .card-figure.is-mall {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

@media print, (min-width: 673px) {
  .top-keyvisual {
    height: 272px;
    overflow: hidden;
  }
  .top-keyvisual.slick-slider {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .top-keyvisual {
    height: 34.5vw;
    overflow: hidden;
  }

  .section-top-keyvisual .wrapper-large {
    padding-left: 0;
    padding-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
