@charset "utf-8"


/* SECTION SAMPLE 01
 * -----------------------------------------------*/

.top-keyvisual
  .slick-slide
    line-height: 0
    > *
      line-height: 0

.section-top-news

  .wrapper
    width: 65.2rem

  .card-figure.is-mall
    max-width: 30rem
    margin:
      left: auto
      right: auto

+desktop
  .top-keyvisual
    height: 272px
    overflow: hidden
    &.slick-slider
      height: auto

@media screen and ( max-width: 800px )


  .top-keyvisual
    height: 34.5vw
    overflow: hidden

  .section-top-keyvisual

    .wrapper-large
      padding-left: 0
      padding-right: 0
