extends ../_layouts/default

block vars
  -title        = 'title contact'
  -description  = 'description contact'
  -keywords     = 'keywords contact'
  -pageID       = 'contact'
  -path         = '..'

block container

  // ./ Keyvisual
  
  .section-keyvisual
    .wrapper-large
      .keyvisual-wrapper
        h1 お問合16せ

  // ./ BreadcrumbList
  .breadcrumb-wrapper
    .wrapper
      ul.breadcrumb
        li.item index 23