@charset "utf-8"

//- Variables

$header-md-height:                  7rem
$header-sm-height:                  6rem

$header-sm-logo-w:                  13rem
//- ----------------------------------

.logo
  display: inline-block
  line-height: 1

header
  position:             relative
  z-index:              $base-zindex-header
  padding:              .8rem 0
  background-color:     #fff

.header

  &-fixed
    width:      100%
    position:   fixed
    z-index:    $base-zindex-header
    left:       0
    top:        0

  &-row
    +display-flex
    +justify-content(space-between)
    +align-items(center)

+desktop

  header
    height: $header-md-height

  .header

    &-fixed
      + main
        margin-top: $header-md-height

    &-row
      padding:
        left:   2rem
        right:  2rem

+mobile

  header
    height: $header-sm-height

  .logo
    width: $header-sm-logo-w

  .header

    &-fixed
      min-width: 100%
      + main
        margin-top: $header-sm-height
