@charset "utf-8"

//- Variables

//- Link
$base-nav-link-letter-spacing:          .1em
$base-nav-link-padding:                 1rem 2rem

$base-dropdown-padding:                 1rem 2rem
$base-dropdown-bg:                      #eee

//- Hamburger
$base-nav-toggler-bg:                   #fff

$base-nav-collapse-bg:                  #fff

//- ----------------------------------

.navbar

  &-wrapper
    z-index: 10

  &-toggler
    cursor:         pointer
    display:        block
    background:     $base-nav-toggler-bg
    padding:        0
    white-space:    nowrap
    text-align:     center
    .open
      display: block
    .close
      display: none
    &.is-active
      .open
        display: none
      .close
        display: block

    .toggler-btn
      position:     relative
      display:      inline-block
      width:        3.4rem
      height:       2.4rem

      span
        display:    block
        width:      100%
        height:     .2rem
        position:   absolute
        left:       0
        background-color: #636363
        &:nth-child(1)
          +animation(menu-bar01 .75s forwards)
          top: 0
        &:nth-child(2)
          top: 50%
          +opacity(1)
          +transform(translateY(-50%))
          +transition(all .25s .25s)
        &:nth-child(3)
          bottom: 0
          +animation(menu-bar02 .75s forwards)

      &.is-active
        span
          &:nth-of-type(1)
            +animation(active-menu-bar01 .75s forwards)
          &:nth-of-type(2)
            +opacity(0)
          &:nth-of-type(3)
            +animation(active-menu-bar03 .75s forwards)

    .toggler-text

  &-collapse
    display:          none
    position:         fixed
    width:            100%
    left:             0

    &.is-active
      .navbar-content
        overflow: auto

  &-content
    position: relative
    z-index: 10
    height: 100%
    width: 100%
    background-color: $base-nav-collapse-bg
    margin-left: auto

    .head
      background-color: #d1d1d1

    .btn-close-nav
      display: inline-block
      color: #fff
      background:
        repeat: no-repeat
        position: center
        size: 100% 100%
        image: url('../img/common/bg_btn_01.png')
      .icon
        display: inline-block
        position: relative
        &:before
          position: relative
          top: -.1em
          display: inline-block
          content: ''
          $size: 1.2em
          width: $size
          height: $size
          vertical-align: middle
          margin-right: 1em
          background:
            repeat: no-repeat
            position: center
            size: contain
            image: url('../img/common/icon_close.png')

    .search-wrapper, .nav-list
      margin:
        left: auto
        right: auto

.nav

  &-widget
    .note
      text-align: center

  &-item
    position: relative

    .flex
      +display-flex
      padding-right: 2rem
      .nav-link
        +flex-grow(1)

    .nav-dropdown-icon
      cursor: pointer
      display: inline-block
      background:
        repeat: no-repeat
        position: center
        size: contain
        image: url('../img/common/icon_arrow.png')
      &.is-active
        transform: rotate(90deg)

  &-link
    position:         relative
    display:          block
    color:            currentColor
    font:
      weight:         400
    letter-spacing:   $base-nav-link-letter-spacing
    text-decoration:  none
    +opacity(1)
    +transition(opacity .26s ease)
    &.is-active, &.is-current
      background-color: #000
    &:hover
      +opacity(0.8)

    .label
      display: inline-block
      background-color: #ffc000
      text-align: center
      vertical-align: middle
    .text
      padding-left: 2rem

  &-dropdown
    display: none

  &-list
    +display-flex
    +flex-wrap(wrap)
    line-height: 2
    margin-bottom: 2rem
    li
      +dflex(50%)
      position: relative
      padding-left: 2.5rem
      &:before
        content: '▶'
        position: absolute
        left: 0
        top: 50%
        +transform(translateY(-50%))
        font-size: 1.2em
        line-height: 1

+desktop

  .navbar

    &-toggler
      position: relative
      top: .7rem
      width: 5.6rem

    &-collapse
      height:           calc(100% - #{$header-md-height})
      top:              $header-md-height
      font-size:        2rem

    &-content

      .head
        padding: 1rem 0

      .btn-close-nav
        font-size: 2.4rem
        padding: 1.2rem 4.5rem .8rem

  .nav

    &-widget
      margin-bottom: 2.4rem
      padding: 0 2.4rem
      .note
        font-size: 1.8rem

    &-main
      padding: 0.3rem 0

    &-link
      font-size:      2.4rem
      .label
        $width:       5.6rem
        width:        $width
        height:       $width
        font-size:    1.2rem
        line-height:  $width

    &-item
      padding: .8rem 0
      border-bottom: .2rem solid #dfdfbd
      .nav-dropdown-icon
        $width:       5.5rem
        width:        $width
        height:       $width

    &-dropdown
      .dropdown-list
        padding-left: 10rem
        line-height: 2
      .dropdown-item
        font-size: 2rem

    &-list
      padding: 0 5rem

+mobile

  .navbar

    &-toggler
      .toggler-text
        font-size: 1rem

    &-collapse
      height:           calc(100% - #{$header-sm-height})
      top:              $header-sm-height
      font-size:        1.4rem

    &-content

      .head
        padding: 1rem 0

      .btn-close-nav
        font-size: 1.4rem
        padding: 1rem 2.5rem

      .form-search
        padding:
          left: 1rem
          right: 1rem

      .nav-list
        width: 30rem
        max-width: 100%

  .nav

    &-widget
      margin-bottom: 1.6rem
      padding: 0
      .note
        font-size: 1.5rem

    &-main
      padding: 0.3rem 0

    &-link
      font-size:      1.6rem
      .label
        $width:       4rem
        width:        $width
        height:       $width
        font-size:    1rem
        line-height:  $width

    &-item
      padding: .8rem 0
      border-bottom: .2rem solid #dfdfbd
      .nav-dropdown-icon
        $width:       3.2rem
        width:        $width
        height:       $width
        margin-top: 0.2rem

    &-dropdown
      .dropdown-list
        padding-left: 8rem
        line-height: 2
      .dropdown-item
        font-size: 1.4rem

    &-list
      padding: 0 1rem

@media screen and ( max-width: 320px )
  .nav-widget .note
    letter-spacing: -.1em

$nav-keyframes-translate:   1.1rem
$nav-keyframes-rotate:      45deg

@-webkit-keyframes menu-bar01
  0%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(#{$nav-keyframes-rotate}))
  50%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(0) rotate(0))

@keyframes menu-bar01
  0%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(#{$nav-keyframes-rotate}))
  50%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(0) rotate(0))

@-webkit-keyframes menu-bar02
  0%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(-#{$nav-keyframes-rotate}))
  50%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(0) rotate(0))

@keyframes menu-bar02
  0%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(-#{$nav-keyframes-rotate}))
  50%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(0) rotate(0))

@-webkit-keyframes active-menu-bar01
  0%
    +transform(translateY(0) rotate(0))
  50%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(#{$nav-keyframes-rotate}))

@keyframes active-menu-bar01
  0%
    +transform(translateY(0) rotate(0))
  50%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(#{$nav-keyframes-translate}) rotate(#{$nav-keyframes-rotate}))

@-webkit-keyframes active-menu-bar03
  0%
    +transform(translateY(0) rotate(0))
  50%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(-#{$nav-keyframes-rotate}))

@keyframes active-menu-bar03
  0%
    +transform(translateY(0) rotate(0))
  50%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(0))
  100%
    +transform(translateY(-#{$nav-keyframes-translate}) rotate(-#{$nav-keyframes-rotate}))
