extends _layouts/default

block vars
  -title        = 'title Home page'
  -description  = 'description Home page'
  -keywords     = 'keywords Home page'
  -pageID       = 'top'
  -path         = '.'

block container

  p.text-center Content Home page