@charset "utf-8"

//- Variables

$btn-color:                         #fff
$btn-bg:                            #6fbbf7
$btn-border:                        1px solid $btn-bg
$btn-radius:                        10px
$btn-font-weight:                   700

//- ----------------------------------

.btn
  cursor:             pointer
  display:            inline-block
  font:
    weight:           400
  line-height:        1.5
  text:
    align:            center
    decoration:       none
  vertical-align:     middle
  +user-select(none)
  +transition(opacity $speed ease-in-out, color $speed ease-in-out, background-color $speed ease-in-out, border-color $speed ease-in-out, box-shadow $speed ease-in-out)
  &.is-block
    width: 100%
