@charset "utf-8"

.keyvisual-wrapper
  background-color: #4dff2a
  +display-flex
  +justify-content(center)
  +align-items(center)

.breadcrumb

  &-wrapper
    padding: .8rem 0

  .item
    display: inline-block

    + .item
      &:before
        content:    '>'
        display:    inline-block
        margin: 0 .8rem 0 0
        font-size: 1.2em
        line-height: 1
        vertical-align: middle

