@charset "utf-8"

//- Variables

$heading-lh:      1.4
$heading-fw:      500

//- ----------------------------------

h1, h2, h3, h4, h5, h6
  position: relative
  font:
    weight:     $heading-fw
  line-height:  $heading-lh

.heading
 