@charset "utf-8"

//- Variables

$rows-default:      .5rem
$row-col:           ('two' : '50%', 'three' : '33.33%', 'four' : '25%', 'five' : '20%')

//- ----------------------------------

.layout

  &-row
    +display-flex
    +flex-wrap(wrap)
    margin:
      left:       -#{$rows-default}
      right:      -#{$rows-default}

    > *
      position:   relative
      width:      100%
      padding:
        left:     #{$rows-default}
        right:    #{$rows-default}

    .col
      +flex-basis(0)
      +flex-grow(1)
      max-width: 100%

      &-auto
        +flex(0 0 auto)
        width: auto
        max-width: 100%

    &-reverse
      +flex-direction(row-reverse)

    &.four-column
      > *
        +dflex(25%)

    &.is-center
      +justify-content(center)
 