@charset "utf-8"

.table

  &-wrapper

  &-primary
    width: 100%
    line-height: 1.5
    border: .2rem solid #f1a424
    th, td
      border: .2rem solid #f1a424
      padding: .8rem 1.6rem
      vertical-align: top
      p
        margin-bottom: 0.5em

  +desktop

