@charset "utf-8"


/* ADDITIONAL RESET
 * -----------------------------------------------*/

*,
*:before,
*:after
  +box-sizing(border-box)

body *
  max-height: 99999em

img
  display: inline-block
  vertical-align: middle
  max-width: 100%
  &.full-width
    width: 100% !important

input,
label,
select,
button,
textarea
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  font: inherit
  line-height: 1

input:focus,
button:focus,
select:focus
  outline: 0

/* Make webkit render the search input like a normal text field */
input[type=search]
  -webkit-appearance: textfield

/* Turn off the recent search for webkit. It adds about 1.5rem padding on the left */
::-webkit-search-decoration
  display: none

/* Turn off scroll bars in IE unless needed */
textarea
  overflow: auto
  white-space: pre-line


/* PRINTING
 * -----------------------------------------------*/

@media print
  body
    -webkit-print-color-adjust: exact
  html,
  body
    margin: 0
  @page
    margin: 0
  @page :left
    margin: 0
  @page :right
    margin: 0
  @page :first
    margin-top: 0


/* GENERAL
 * -----------------------------------------------*/

body
  color:          $base-font-color
  font:
    family:       $base-font-family
    size:         $base-font-size
    weight:       $base-font-weight
  line-height:    $base-line-height
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none
  background:
    color:        #fff

html
  font-size: 62.5%

.ft-serif
  font-family: $base-font-serif


/* HELPERS
 * -----------------------------------------------*/

a
  color: $base-font-color
  text-decoration: none

strong
  font-weight: 700

u
  text-decoration: underline

.hidden
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.inline-block
  display: inline-block

.display-block
  display: block

.container
  overflow: hidden
  
.header-fixed
  
.wrapper
  width: $base-wrapper
  max-width: 100%
  padding:
    left: 1.6rem
    right: 1.6rem
  margin:
    left: auto
    right: auto

  &-large
    width: $base-wrapper-large
    max-width: 100%
    padding:
      left: 1.6rem
      right: 1.6rem
    margin:
      left: auto
      right: auto

  &-small
    width: $base-wrapper-small
    max-width: 100%
    padding:
      left: 1.6rem
      right: 1.6rem
    margin:
      left: auto
      right: auto

/* RESPONSIVE
 * -----------------------------------------------*/

@media print, (min-width: 769px)
  .trans
    +opacity(1)
    +transition(opacity .26s ease)
    &:hover
      +opacity(0.8)

+desktop

  .tel-pointer
    display: inline-block
    pointer-events: none

  .sm
    display: none !important

+mobile

  .md
    display: none !important

  .container
    width: auto
    min-width: 32rem

  .wrapper
    width: auto
    &.sm-padding-none
      padding:
        left: 0
        right: 0
