.navbar-wrapper
  nav.navbar-nav
    .navbar-toggler.trans
      .toggler-btn
        span
        span
        span
      .toggler-text
        span.open メニュー
        span.close 閉じる
    .navbar-collapse
      .navbar-content
        .head
          .wrapper
            p
              a.nav-link(href=path+'/') メニュー 24p
 