extends ../_layouts/default

block vars
  -title        = 'title profile'
  -description  = 'description profile'
  -keywords     = 'keywords profile'
  -pageID       = 'profile'
  -path         = '..'
  
block container

  p.text-center content profile